<ion-card mode="ios" color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span><ion-skeleton-text animated width="30%"></ion-skeleton-text></span>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-skeleton-text animated width="70%"></ion-skeleton-text>
    </ion-card-title>
  </ion-card-header>
  <ion-item color="dark">
    <ion-skeleton-text
      animated
      style="width: 100%; height: 12rem"
    ></ion-skeleton-text>
  </ion-item>
  <ion-card-content>
    <p><ion-skeleton-text animated width="100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated width="100%"></ion-skeleton-text></p>
  </ion-card-content>
</ion-card>
